<h1>タスク一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>

    <td><%= link_to '詳細', task_path(task.id) %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'new task', new_task_path %>
